[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
google-cloud-storage = "*"
google-cloud = "*"
google-cloud-bigquery = "*"

[dev-packages]
pylint = "*"
ipykernel = "*"
autopep8 = "*"

[requires]
python_version = "3.9"
